{% extends 'base.html' %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id='chart7' class='chart'”></div>
      <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
      <script type='text/javascript'>
        Plotly.plot('chart7',{{graph7 | safe}})
      </script>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div id='chart8' class='chart'”></div>
      <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
      <script type='text/javascript'>
        Plotly.plot('chart8',{{graph8 | safe}})
      </script>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div id='chart9' class='chart'”></div>
      <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
      <script type='text/javascript'>
        Plotly.plot('chart9',{{graph9 | safe}})
      </script>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div id='chart10' class='chart'”></div>
      <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
      <script type='text/javascript'>
        Plotly.plot('chart10',{{graph10 | safe}})
      </script>
    </div>
  </div>
</div>

{% endblock %}