{% extends 'base.html' %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id='chart11' class='chart'”></div>
      <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
      <script type='text/javascript'>
        Plotly.plot('chart11',{{graph11 | safe}})
      </script>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div id='chart12' class='chart'”></div>
      <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
      <script type='text/javascript'>
        Plotly.plot('chart12',{{graph12 | safe}})
      </script>
    </div>
  </div>
</div>

{% endblock %}